<%= form_with(model: forum) do |form| %>
  <% if forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(forum.errors.count, "error") %> prohibited this forum from being saved:</h2>

      <ul>
        <% forum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select(:category, options_for_select([['Violent Crime', 'Volient Crime'], ['Hate Crime', 'Hate Crime'],['Sexual Assault', 'Sexual Assault ']]))  %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="hidden_field">
    <%= form.hidden_field :imageurl, value:"assets/BannerPics/img"+(rand(1-54)).to_s+".jpg" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
