
<style media="screen">
  a{
    text-decoration:none;
    color:#5AD67D;

  }
  .New{
    position:relative;
    left:850px;
  }

</style>
<p id="notice"><%= notice %></p>


<svg viewBox="0 0 960 300", class= "ant">
  <symbol id="s-text">
    <text text-anchor="middle" x="50%" y="80%">Forum </text>
    <text text-anchor="middle" x="52%" y="80%">Forum </text>
  </symbol>

  <g class = "g-ants">
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
  </g>
</svg>

<div class="container">


<div class="New" ><button type="button" class="btn btn-secondary"><%= link_to 'New Forum', new_forum_path %></button></div>
<% @forums.each do |forum| %>

  <div class="blog-card">
    <div class="meta">

      <div class="photo" style="background-image: url(<%=asset_path forum.imageurl%>)"></div>
      <ul class="details">
        <li class="tags">
          <ul>
            <li><a><%= forum.user.email %></a></li>
          </ul>
        </li>
        <li class="tags">
          <ul>
          <li><a><%= forum.category%></a></li>
          </ul>
        </li>
        <li class="tags">
          <ul>
            <li><a><%= time_ago_in_words(forum.created_at) %></a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1><%= link_to forum.title, forum %></h1>
      <p><%= truncate(strip_tags(forum.richcontent.to_s), length: 80)%></p>
      <br>
      <p class="read-more">
        <a href="#"><%= link_to "Read More", forum %></a>
        <br>
        <% if forum.user == current_user %>
        <br>
          <a><%= link_to 'Delete Post', forum, method: :delete, data: { confirm: 'Are you sure?' } %></a>
          <br>

        <% end %>

      </p>
    </div>
  </div>


<br>
<% end %>

<div class="page-card" style="text-center, background: transparent;" >
<div class="digg_pagination">
  <%= will_paginate @forums, :container => false %>
</div>

</div>





</div>
