<p id="notice"><%= notice %></p>

<div class="fond"> <span class="s1">blog </span><span class="s2">card</span></div>
<div class="card">
    <div class="thumbnail"><img class="left" src="<%= forum.imageurl %>" /></div>
    <div class="right">
        <h1><%= @forum.title %></h1>
        <div class="author"><img src="https://randomuser.me/api/portraits/men/95.jpg" />
            <h2><%= forum.user.email %></h2>
        </div>
        <div class="separator"></div>
        <p><%= forum.content %></p>
    </div>
    <h6><%= time_ago_in_words(forum.created_at) %></h6>
    <ul>
        <li><i class="fa fa-eye fa-2x"></i></li>
        <li><i class="fa fa-heart-o fa-2x"></i></li>
        <li><i class="fa fa-envelope-o fa-2x"></i></li>
        <li><i class="fa fa-share-alt fa-2x"></i></li>
    </ul>
    <div class="fab"><i class="fa fa-arrow-down fa-3x"> </i></div>
</div>


 <tr>
    <td><%= link_to forum.title, forum %></td>
    <td><%= forum.category %></td>
    <td><%= forum.content %></td>
    <td><%= forum.imageurl %></td>
    <td><%= time_ago_in_words(forum.created_at) %></td>
    <td><%= forum.user.email %></td>
    <td><%= link_to 'Show', forum %></td>
    <td><%= link_to 'Edit', edit_forum_path(forum) %></td>
    <td><%= link_to 'Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

