<p id="notice"><%= notice %></p>

<svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-bubble" viewBox="0 0 1024 1024">
  <title>bubble</title>
  <path class="path1" d="M512 224c8.832 0 16 7.168 16 16s-7.2 16-16 16c-170.464 0-320 89.728-320 192 0 8.832-7.168 16-16 16s-16-7.168-16-16c0-121.408 161.184-224 352-224zM512 64c-282.784 0-512 171.936-512 384 0 132.064 88.928 248.512 224.256 317.632 0 0.864-0.256 1.44-0.256 2.368 0 57.376-42.848 119.136-61.696 151.552 0.032 0 0.064 0 0.064 0-1.504 3.52-2.368 7.392-2.368 11.456 0 16 12.96 28.992 28.992 28.992 3.008 0 8.288-0.8 8.16-0.448 100-16.384 194.208-108.256 216.096-134.88 31.968 4.704 64.928 7.328 98.752 7.328 282.72 0 512-171.936 512-384s-229.248-384-512-384zM512 768c-29.344 0-59.456-2.24-89.472-6.624-3.104-0.512-6.208-0.672-9.28-0.672-19.008 0-37.216 8.448-49.472 23.36-13.696 16.672-52.672 53.888-98.72 81.248 12.48-28.64 22.24-60.736 22.912-93.824 0.192-2.048 0.288-4.128 0.288-5.888 0-24.064-13.472-46.048-34.88-56.992-118.592-60.544-189.376-157.984-189.376-260.608 0-176.448 200.96-320 448-320 246.976 0 448 143.552 448 320s-200.992 320-448 320z"></path>
</symbol>
<symbol id="icon-star" viewBox="0 0 1024 1024">
  <title>star</title>
  <path class="path1" d="M1020.192 401.824c-8.864-25.568-31.616-44.288-59.008-48.352l-266.432-39.616-115.808-240.448c-12.192-25.248-38.272-41.408-66.944-41.408s-54.752 16.16-66.944 41.408l-115.808 240.448-266.464 39.616c-27.36 4.064-50.112 22.784-58.944 48.352-8.8 25.632-2.144 53.856 17.184 73.12l195.264 194.944-45.28 270.432c-4.608 27.232 7.2 54.56 30.336 70.496 12.704 8.736 27.648 13.184 42.592 13.184 12.288 0 24.608-3.008 35.776-8.992l232.288-125.056 232.32 125.056c11.168 5.984 23.488 8.992 35.744 8.992 14.944 0 29.888-4.448 42.624-13.184 23.136-15.936 34.88-43.264 30.304-70.496l-45.312-270.432 195.328-194.944c19.296-19.296 25.92-47.52 17.184-73.12zM754.816 619.616c-16.384 16.32-23.808 39.328-20.064 61.888l45.312 270.432-232.32-124.992c-11.136-6.016-23.424-8.992-35.776-8.992-12.288 0-24.608 3.008-35.744 8.992l-232.32 124.992 45.312-270.432c3.776-22.56-3.648-45.568-20.032-61.888l-195.264-194.944 266.432-39.68c24.352-3.616 45.312-18.848 55.776-40.576l115.872-240.384 115.84 240.416c10.496 21.728 31.424 36.928 55.744 40.576l266.496 39.68-195.264 194.912z"></path>
</symbol>
</defs>
</svg>

<div class="blog-container">

  <div class="blog-header">
    <div class="blog-cover" style="background-image: url(<%=asset_path @forum.imageurl %>)">
      <div class="blog-author">
        <h3><img src=<%=asset_path @forum.user.thumbnail%> width=60 height =60 border-radius = 50 %><%=@forum.user.email%></h3>
      </div>
    </div>
  </div>

  <div class="blog-body">
    <div class="blog-title">
      <br>
      <h1><%= @forum.title %></h1>
    </div>
    <div class="blog-summary">
      <p><%= @forum.richcontent %></p>
    </div>
    <div class="blog-tags">
      <ul>
        <li><a><%= time_ago_in_words(@forum.created_at)+ " ago" %></a></li>
      </ul>
    </div>
  </div>

  <div class="blog-footer">

    <ul>
      <li><a>Comments</a></li>
    </ul>
  </div>
  <div class="">
    <% @forum.comments.each do |comment| %>
        <ul style="list-style-type:none;">
          <li><img src=<%=asset_path comment.user.thumbnail%> width=40 height =40 > <%=comment.user.email%></li>
          <li><a><%=comment.comment%></a></li>
          <li><a><%=time_ago_in_words(comment.created_at)+ " ago"%></a></li>
          <% if comment.user == current_user or @forum.user == current_user %>
            <li> <%= link_to "Delete Reply", [comment.forum, comment], method: :delete, data: { confirm: "Are you sure?" } %>
          <%end%>
          </li>
        </ul>
    <% end %>
  </div>

  <div class="comments_form">
    <h3>Reply to thread</h3>
      <div class="">
        <%= render "comments/form" %>
      </div>
  </div>

</div>
<button class="glow-on-hover" type="button" ><%= link_to 'Edit', edit_forum_path(@forum) %></button>
<button class="glow-on-hover" type="button" ><%= link_to 'Back', forums_path %></button>








<div class="container py-4">
   <div class="col-md-10 col-lg-8 m-auto">
      <div class="bg-white rounded-3 shadow-sm p-4 mb-4">
         <!-- New Comment //-->
         <div class="d-flex">
            <img class="rounded-circle me-3"
                 style="width:3rem;height:3rem;"
                 src="https://via.placeholder.com/128/fe669e/ffcbde.png?text=S" />
            <div class="flex-grow-1">
               <div class="hstack gap-2 mb-1">
                  <a href="#" class="fw-bold link-dark">Studio KonKon</a>
               </div>
               <div class="form-floating mb-3">
                  <textarea class="form-control w-100"
                            placeholder="Leave a comment here"
                            id="my-comment"
                            style="height:7rem;"></textarea>
                  <label for="my-comment">Leave a comment here</label>
               </div>
               <div class="hstack justify-content-end gap-2">
                  <button class="btn btn-sm btn-link link-secondary text-uppercase">cancel</button>
                  <button class="btn btn-sm btn-primary text-uppercase">comment</button>
               </div>
            </div>
         </div>
      </div>
      <div class="bg-white rounded-3 shadow-sm p-4">

         <h4 class="mb-4">7 Comments</h4>

         <!-- Comment #1 //-->
         <div class="">
            <div class="py-3">
               <div class="d-flex comment">

                  <div class="flex-grow-1 ms-3">
                    <div class="blog-header">
                      <div class="blog-cover" style="background-image: url(<%=asset_path @forum.imageurl %>)">
                        <div class="blog-author">
                          <h3><img src=<%=asset_path @forum.user.thumbnail%> width=60 height =60 border-radius = 50 %><%=@forum.user.email%></h3>
                        </div>
                      </div>
                    </div>
                     <div class="mb-1"><a href="#" class="fw-bold link-dark me-1"><%= @forum.title %></a> <span class="text-muted text-nowrap">2 days ago</span></div>
                     <div class="mb-2">Lorem ipsum dolor sit amet, ut qui commodo sensibus, id utinam inermis constituto vim. In nam dolorum interesset, per fierent ponderum ea. Eos aperiri feugiat democritum ne.</div>
                     <div class="hstack align-items-center mb-2">
                        <a class="link-primary me-2" href="#"><i class="zmdi zmdi-thumb-up"></i></a>
                        <span class="me-3 small">55</span>
                        <a class="link-secondary me-4" href="#"><i class="zmdi zmdi-thumb-down"></i></a>
                        <a class="link-secondary small" href="#">REPLY</a>
                        <a class="link-danger small ms-3" href="#">DELETE</a>
                     </div>
                     <a class="fw-bold d-flex align-items-center" href="#">
                        <i class="zmdi zmdi-chevron-down fs-4 me-3"></i>
                        <span>Hide Replies</span>
                     </a>

                  </div>
               </div>
               <div class="comment-replies mt-4 bg-light p-3 rounded">
                  <div class="d-flex py-2">
                     <img class="rounded-circle comment-img"
                          src="https://via.placeholder.com/128/cc99ff/7f00ff.png?text=S" />
                     <div class="flex-grow-1 ms-3">
                        <div class="mb-1"><a href="#" class="fw-bold link-dark pe-1">Shinobu KonKon</a> <span class="text-muted text-nowrap">1 day ago</span></div>
                        <div class="mb-2">Disputando voluptatibus ei sit. Et veri deserunt theophrastus pri, at mutat choro eum.</div>
                        <div class="hstack align-items-center">
                           <a class="link-secondary me-2" href="#"><i class="zmdi zmdi-thumb-up"></i></a>
                           <span class="me-3 small">1</span>
                           <a class="link-secondary me-4" href="#"><i class="zmdi zmdi-thumb-down"></i></a>
                           <a class="link-secondary small" href="#">REPLY</a>
                        </div>
                     </div>
                  </div>
                  <div class="d-flex py-2">
                     <img class="rounded-circle comment-img"
                          src="https://via.placeholder.com/128/ffcc99/ff8000.png?text=O" />
                     <div class="flex-grow-1 ms-3">
                        <div class="mb-1"><a href="#" class="fw-bold link-dark pe-1">Oomiya Yuki</a> <span class="text-muted text-nowrap">1 minute ago</span></div>
                        <div class="mb-2">Munere consetetur an usu, vis quot maiestatis concludaturque at. Ne etiam indoctum referrentur eum, vix legimus nominati eu. Epicurei quaestio sea ut, munere deserunt adipiscing qui te.</div>
                        <div class="hstack align-items-center">
                           <a class="link-secondary me-2" href="#"><i class="zmdi zmdi-thumb-up"></i></a>
                           <span class="me-3 small"></span>
                           <a class="link-primary me-4" href="#"><i class="zmdi zmdi-thumb-down"></i></a>
                           <a class="link-secondary small" href="#">REPLY</a>
                        </div>
                     </div>
                  </div>
                  <div class="d-flex py-2">
                     <img class="rounded-circle comment-img"
                          src="https://via.placeholder.com/128/ff99cc/fe669e.png?text=K" />
                     <div class="flex-grow-1 ms-3">
                        <div class="mb-1"><a href="#" class="fw-bold link-light bg-primary py-1 px-2 rounded-pill me-1">Kamisato Mugi</a> <span class="text-muted text-nowrap">just now</span></div>
                        <div class="mb-2"><a href="#">@Shinobu_KonKon</a> Vivamus ac varius augue. Curabitur luctus convallis lorem, vitae convallis dui volutpat nec.</div>
                        <div class="hstack align-items-center">
                           <a class="link-secondary me-2" href="#"><i class="zmdi zmdi-thumb-up"></i></a>
                           <span class="me-3 small">2</span>
                           <a class="link-secondary me-4" href="#"><i class="zmdi zmdi-thumb-down"></i></a>
                           <a class="link-secondary small" href="#">REPLY</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Comment #2 //-->
            <div class="py-3">
               <div class="d-flex comment">
                  <img class="rounded-circle comment-img"
                       src="https://via.placeholder.com/128/99ccff/0073e6.png?text=A" />
                  <div class="flex-grow-1 ms-3">
                     <div class="mb-1"><a href="#" class="fw-bold link-dark pe-1">Asai Kazuma</a> <span class="text-muted text-nowrap">8 hours ago</span></div>
                     <div class="mb-2">Ei saepe abhorreant temporibus cum, hinc praesent voluptatum ea has.<br /><br />Vis nihil tacimates senserit ut, quo posse labores honestatis te. Ex duo nullam posidonium deterruisset, altera aeterno duo.</div>
                     <div class="hstack align-items-center">
                        <a class="link-secondary me-2" href="#"><i class="zmdi zmdi-thumb-up"></i></a>
                        <span class="me-3 small">26</span>
                        <a class="link-secondary me-4" href="#"><i class="zmdi zmdi-thumb-down"></i></a>
                        <a class="link-secondary small" href="#">REPLY</a>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Comment #3 //-->
            <div class="py-3">
               <div class="d-flex comment">
                  <img class="rounded-circle comment-img"
                       src="https://via.placeholder.com/128/ff99cc/fe669e.png?text=K" />
                  <div class="flex-grow-1 ms-3">
                     <div class="mb-1"><a href="#" class="fw-bold link-light bg-primary py-1 px-2 rounded-pill me-1">Kamisato Mugi</a> <span class="text-muted text-nowrap">10 hours ago</span></div>
                     <div class="mb-2">Aenean non tellus sed erat ultrices rutrum. Sed ac dolor tempus, efficitur diam vitae, sagittis nisi. Morbi bibendum congue nisl eu congue. Mauris eu eros bibendum, pretium ex ac, aliquam lorem.</div>
                     <div class="hstack align-items-center mb-2">
                        <a class="link-primary me-2" href="#"><i class="zmdi zmdi-thumb-up"></i></a>
                        <span class="me-3 small">8</span>
                        <a class="link-secondary me-4" href="#"><i class="zmdi zmdi-thumb-down"></i></a>
                        <a class="link-secondary small" href="#">REPLY</a>
                     </div>
                     <a class="fw-bold d-flex align-items-center" href="#">
                        <i class="zmdi zmdi-chevron-down fs-4 me-3"></i>
                        <span>Hide Replies</span>
                     </a>
                  </div>
               </div>
               <div class="comment-replies mt-4 bg-light p-3 rounded">
                  <div class="d-flex py-2">
                     <img class="rounded-circle comment-img"
                          src="https://via.placeholder.com/128/fe669e/ffcbde.png?text=S" />
                     <div class="flex-grow-1 ms-3">
                        <div class="mb-1">
                           <div><a href="#" class="fw-bold link-dark">Studio KonKon</a></div>
                           <div class="text-muted small">Replying to @Kamisato_Mugi</div>
                        </div>
                        <div class="form-floating mb-2">
                           <textarea class="form-control w-100"
                                     placeholder="Leave a comment here"
                                     id="my-comment-reply"
                                     style="height:7rem;"></textarea>
                           <label for="my-comment-reply">Leave a comment here</label>
                        </div>
                        <div class="hstack justify-content-end gap-2">
                           <button class="btn btn-sm btn-link link-secondary text-uppercase">cancel</button>
                           <button class="btn btn-sm btn-primary text-uppercase">comment</button>
                        </div>
                     </div>
                  </div>
                  <div class="d-flex py-2">
                     <img class="rounded-circle comment-img"
                          src="https://via.placeholder.com/128/ffcc99/ff8000.png?text=O" />
                     <div class="flex-grow-1 ms-3">
                        <div class="mb-1"><a href="#" class="fw-bold link-dark pe-1">Oomiya Yuki</a> <span class="text-muted text-nowrap">5 mintues ago</span></div>
                        <div class="mb-2">Integer et lorem lacus. Aenean bibendum ex sem, at pretium metus mollis sit amet. Morbi quis egestas ante. Praesent diam odio, fermentum non sapien vitae, fringilla placerat diam.</div>
                        <div class="hstack align-items-center">
                           <a class="link-secondary me-2" href="#"><i class="zmdi zmdi-thumb-up"></i></a>
                           <span class="me-3 small"></span>
                           <a class="link-secondary me-4" href="#"><i class="zmdi zmdi-thumb-down"></i></a>
                           <a class="link-secondary small" href="#">REPLY</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>
