<style media="screen">
  .btn-block{
    transform:translateX(270%);

  }

</style>
<%= simple_form_for(Room.new) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <div class="background">
  <div class="container container_custom_chat">
    <div class="screen">
      <div class="screen-body">
        <div class="screen-body-item">
          <div class="app-title">
          <span style="color:yellow">Create New Chat</span>
        </div>
        <br>
          <div class="app-form">
            <div class="app-form-group">
              <%=f.label :name ,class: "app-subhead" %><br /><%= f.text_field :name,class: "form-control",placeholder: "NAME", autofocus: true %>
            </div>
            <div class="app-form-group">
              <%=f.label :remail ,class: "app-subhead" %><br /><%= f.text_field :remail,class: "form-control",placeholder: "Email", autofocus: true %>
            </div>
           
            <div class="hidden_field">
              <%= f.hidden_field :semail, value: current_user.email %>
             </div>
            <button class="app-form-button" ><div class="actions"><%= f.submit "New Chat", class:"app-form-button" %></div></button>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
