<style media="screen">
  .col-sm-6{
    transform:translateX(30%);
  }
</style>
<div id = "user-id" data-user-id="<%= current_user.id %>"></div>
<div id = "room-id" data-room-id="<%= @room.try(:id) %>"></div>

<div class= "container-fluid">
  <div class="row">
    <div class="">
      <small>Logged in as <%= current_user.firstname%></small>
    </div>

    <div class="col-sm-6" style= " width: 25%">
      <div class="card">
        <div class="card-body">

          <%= render 'form', room: Room.new %>
          <hr>
          <% @rooms.each do |room| %>
            <%= link_to room do%>
              <div class="card mb-2 border-0">
                <div class="card-body text-decoration-none room">
                  <b><%= room.name %></b><br>
                  <small><%= room.users.uniq.count %> Members</small>
                </div>
              </div>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
    <div class="col-sm-6" >
      <% if @room.present? %>
        <div class="card my_scroll_card">
          <div class="card-header"><%= @room.name %></div>

            <% @room.messages.each do |message| %>

             <br><%= render('shared/message', message: message)%><br>

          <% end %>
          <div id = 'messages' class="mes"></div>


        </div>
        <div class="card-body input_message">

              <%= render 'messages/form', message: Message.new, room: @room %>

        </div>

      <% end %>
    </div>
  </div>
</div>



<!--
<div class="">
</div>
min 56
-->
