<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<div class="background">
  <div class="container">
    <div class="screen">
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>Sign Up </span>
          </div>
        </div>
        <div class="screen-body-item">
          <div class="app-form">
            <div class="input-item">
            <%= f.hidden_field :thumbnail, value:"thumb/"+(rand(1-12)).to_s+".png" %>
            </div>
            <div class="app-form-group">
              <%=f.label :firstname ,class: "app-subhead" %><br /><%= f.text_field :firstname,class: "form-control",placeholder: "First Name", autofocus: true, autocomplete: "firstname" %>
            </div>
            <div class="app-form-group">
              <%=f.label :lastname ,class: "app-subhead" %><br /><%= f.text_field :lastname,class: "form-control",placeholder: "Last Name", autofocus: true, autocomplete: "lastname" %>
            </div>
            <div class="app-form-group">
             <%= f.label :email,class: "app-subhead"  %><br /><%= f.email_field :email,class: "form-control",placeholder: "Email", autofocus: true, autocomplete: "email" %>
            </div>
            <div class="app-form-group">
              <%= f.label :password,class: "app-subhead"  %><br /><%= f.password_field :password,class: "form-control",placeholder: "Password", autofocus: true, autocomplete: "new-password" %>
            </div>
            <div class="app-form-group">
              <%= f.label :password_confirmation,class: "app-subhead"  %><br /><%= f.password_field :password_confirmation,class: "form-control",placeholder: "Password Confirmation", autofocus: true, autocomplete: "new-password" %>
            </div>
            
              <button class="app-form-button" ><div class="actions"><%= f.submit "SIGN-UP", class:"app-form-button" %></div></button>
              <% end %>
              <button class="app-form-button"><%= button_to "LOGIN", new_user_session_path, method: :get, class:"app-form-button"%></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
